<extend name="Layout/layout2" />

<block name="css_js">
	<link rel="stylesheet" href="__PUBLIC__/assets/css/style.css">
	<link rel="stylesheet" href="__PUBLIC__/assets/css/loader-style.css">
	<link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap.css">

	<!--<link rel="stylesheet" href="__PUBLIC__/assets/css/media.css">-->
	<link rel="stylesheet" href="__PUBLIC__/assets/css/mail.css">
</block>
<block name="content">
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div class="row">
				<div id="paper-top">
					<div class="col-sm-3">
						<h2 class="tittle-content-header">
							<i class="icon-mail"></i>
                            <span>房东面板
                            </span>
						</h2>

					</div>

					<div class="col-sm-7">
						<div class="devider-vertical visible-lg"></div>
						<div class="tittle-middle-header">

							<div class="alert">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<span class="tittle-alert entypo-info-circled"></span>
								欢迎来到宿宿,&nbsp;
								<strong>可爱的人啊!</strong>&nbsp;&nbsp;祝您大吉大利，财源广进
							</div>


						</div>

					</div>
					<div class="col-sm-2">
						<div class="devider-vertical visible-lg"></div>
						<div class="btn-group btn-wigdet pull-right visible-lg">
							<div class="btn">
								Widget</div>
							<button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul role="menu" class="dropdown-menu">
								<li>
									<a href="#">
										<span class="entypo-plus-circled margin-iconic"></span>Add New</a>
								</li>
								<li>
									<a href="#">
										<span class="entypo-heart margin-iconic"></span>Favorite</a>
								</li>
								<li>
									<a href="#">
										<span class="entypo-cog margin-iconic"></span>Setting</a>
								</li>
							</ul>
						</div>


					</div>
				</div>
			</div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<ul id="breadcrumb">
				<li>
					<span class="entypo-home"></span>
				</li>
				<li><i class="fa fa-lg fa-angle-right"></i>
				</li>
				<li><a href="#" title="Sample page 1">宿宿</a>
				</li>
				<li><i class="fa fa-lg fa-angle-right"></i>
				</li>
				<li><a href="#" title="Sample page 1">房东面板</a>
				</li>
				<li class="pull-right">
					<div class="input-group input-widget">

						<input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
					</div>
				</li>
			</ul>

			<!-- END OF BREADCRUMB -->



			<div class="content-wrap">
				<div class="row">
					<!-- SIDEMENU MAIL -->
					<div class="col-sm-2">
						<div class="side-mail">
							<a href="__URL__/addAtc/cate/{$cate}">
							<div class="btn btn-info button-mail" data-toggle="modal" data-target="#myModal" ><i class="entypo-pencil"></i>&nbsp;新 增 房 屋 </div></a>
							<div class="list-btn-mail active">
								<span class="entypo-download"></span><a>招租中</a><i>648</i>
							</div>
							<div class="list-btn-mail">
								<span class="entypo-floppy"></span><a>已租</a><i>5</i>
							</div>
							<div class="list-btn-mail">
								<span class="entypo-logout"></span><a>保留房</a>
							</div>
							<div class="list-btn-mail">
								<span class="entypo-trash"></span><a>废弃商品</a><i>13</i>
							</div>
							<div class="list-btn-mail">
								<span class="entypo-alert"></span><a>数据统计</a>
							</div>


						</div>


<!--
						<div aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" class="modal fade bs-example-modal-lg" style="display: none;" id="myModal">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">

									<div class="modal-header">
										<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
											<span class="entypo-cancel"></span>
										</button>
										<h6 id="myLargeModalLabel" class="modal-title">Compose Mail</h6>
									</div>
									<div class="modal-body">

										<div class="compose_mail">

											<form role="form">
												<div class="form-group">

													<input type="email" placeholder="To" id="exampleInputEmail1" class="form-control">
												</div>
												<div class="form-group">

													<input type="email" placeholder="Subject" id="exampleInputPassword1" class="form-control">
												</div>




												<div class="btn-group">
													<button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
														<span class="fontawesome-font"></span>Normal text
														<span class="caret"></span>
													</button>
													<ul role="menu" class="dropdown-menu">
														<li><a href="#">Action</a>
														</li>
														<li><a href="#">Another action</a>
														</li>
														<li><a href="#">Something else here</a>
														</li>

													</ul>

												</div>
												<div class="btn-group">
													<button type="button" class="btn">
														<span class="fontawesome-bold"></span>
													</button>
													<button type="button" class="btn">
														<span class="fontawesome-italic"></span>
													</button>
													<button type="button" class="btn">
														<span class="fontawesome-underline"></span>
													</button>
												</div>

												<div class="btn-group">
													<button type="button" class="btn">
														<span class="fontawesome-list-ul"></span>
													</button>
													<button type="button" class="btn">
														<span class="fontawesome-list-ol"></span>
													</button>
													<button type="button" class="btn">
														<span class="fontawesome-indent-left"></span>
													</button>
													<button type="button" class="btn">
														<span class="fontawesome-indent-right"></span>
													</button>

												</div>


												<button type="button" class="btn">
													<span class="entypo-link"></span>
												</button>
												<button type="button" class="btn">
													<span class="entypo-attach"></span>
												</button>
												<button type="button" class="btn">
													<span class="fontawesome-table"></span>
												</button>
												<button type="button" class="btn">
													<span class="fontawesome-camera"></span>
												</button>


												<textarea style="height:200px!important;margin:20px 0" class="form-control" rows="8"></textarea>


												<button class="btn" type="submit">Send</button>
												<button class="btn" type="submit">
													<span class="fontawesome-save"></span>&nbsp;&nbsp;Save as Draft</button>
											</form>

										</div>

									</div>
								</div>

							</div>

						</div>
-->



					</div>
					<!-- /SIDEMENU MAIL -->
					<!-- CONTENT MAIL -->
					<div class="col-sm-10">

						<div class="mail_header">
							<div class="row">
								<div class="col-sm-6">

									<div style="margin-right:10px" class="btn-group pull-left">
										<div class="btn">
											<input type="checkbox" style="margin:0 5px;padding:0;position:relative;top:2px;">全选</div>
										<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">None</a>
											</li>
											<li><a href="#">read</a>
											</li>
											<li><a href="#">Unread</a>
											</li>
										</ul>
									</div>



									<div style="margin-right:10px" class="btn-group pull-left">
										<button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">操作
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a>
											</li>
											<li><a href="#"><i class="fa fa-ban"></i> Spam</a>
											</li>
											<li class="divider"></li>
											<li><a href="#"><i class="fa fa-trash-o"></i> 删除</a>
											</li>
										</ul>
									</div>

									<button style="margin-right:10px" type="button" data-color="#39B3D7" data-opacity="0.95" class="btn button test pull-left">
										<span class="entypo-arrows-ccw"></span>&nbsp;&nbsp;刷新</button>


								</div>


								<div class="col-sm-6">



									<div class="btn-group pull-right">
										<button type="button" class="btn">
											<span class="entypo-left-open"></span>
										</button>
										<button type="button" class="btn">
											<span class="entypo-right-open"></span>
										</button>

									</div>

									<div class="btn-group pull-right" style="margin-right:10px;">
										<button type="button" class="btn">{$firstRow}-{$listRows} of {$count}</button>


									</div>

								</div>


							</div>

						</div>

						<div id="content-mail">
							<div class="table-responsive">
								<!-- THE MESSAGES -->
								<table class="table table-mailbox">
									<volist name ='list' id="vo">
									<tr class="unread">
										<td class="small-col">
											<input type="checkbox">
										</td>
										<td class="small-col"><i class="fa fa-star"></i>
										</td>
										<td class="name"><span class="label label-info">招租</span><a class="star" href=""></a>
										</td>
										<td>￥{$vo.price}/月</td>
										<td class="subject"><a href="__URL__/detail/cate/{$cate}/mid/8/id/{$vo.id}">
											<p class="email-summary">
												{$vo.title}</p>
											<p class="email-summary summary">
												地址：{$vo.address}</p></a>
										</td>
										<td class="time text-right"><span>{$vo.createtime}</span><p>闲置：2周</p></td>
										<td class="time text-right"><a data-original-title="trash" name="delete_h" value={$vo.id} class="icon icon-trash excu" title="删除">
										</a></td>
									</tr>
									</volist>




									<tr class="unread">
										<td class="small-col">
											<input type="checkbox">
										</td>
										<td class="small-col"><i class="fa fa-star"></i>
										</td>
										<td class="name">
											<a class="star" href="">
												<span class="entypo-dropbox"></span>
											</a>
										</td>
										<td>Dropbox</td>
										<td class="subject">
											<strong>New Update</strong>Now are available, get it now!
										</td>
										<td class="time text-right">Jan 11 at 9:54pm</td>
									</tr>

									<!-- END OF THREE -->


								</table>
								<nav>
									<ul class="pagination">
										{$page}
									</ul>
								</nav>
							</div>
							<!-- /.table-responsive -->


						</div>

					</div>
					<!-- /CONTENT MAIL -->
				</div>
			</div>


			<!-- /END OF CONTENT -->



			<!-- FOOTER -->
			<div class="footer-space"></div>
			<div id="footer">
				<div class="devider-footer-left"></div>
				<div class="time">
					<p id="spanDate">
					<p id="clock">
				</div>
				<div class="copyright">Make with Love
					<span class="entypo-heart"></span>Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> All Rights Reserved</div>
				<div class="devider-footer"></div>
			</div>
			<!-- / END OF FOOTER -->

		</div>
	</div>
</block>
<block name="js_foot">
	<script type="text/javascript">
		$('.excu').bind('click',function(){

			var status = $(this).attr('name'); //方法名
			if(status=="delete_h"){
				alert('是否删除该文档');
			}
			//var ch = arguments[0] ? arguments[0] : {};
			var ch={};   //方法接受的参数

			if($(this).attr('value')){
				ch[0] = $(this).attr('value');
			}else {
				//ch={};
				var i=0;
				$('input:checkbox:checked').each(function(){
					ch[i]=$(this).val(); //attr('id');
					i++;
				});
			}

			//var jch = JSON.stringify(ch);

			//alert(jch);
			$.ajax({
				type:"POST",
				url:"__URL__/excu",
				data:{'status':status,'val':ch},//{'0':ch},
				success: function(data) {
					alert(JSON.stringify(data));
					location.reload();
					//alert($.parseJSON(data));
				}
			});
		});
	</script>

</block>
